body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bgImg {
  padding-top: 80px;
  -webkit-box-reflect: left;
  width: 800px;
  height: 700px;
  position: absolute;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.relativePos {
  position: relative;
}

.colorWhite {
  color: white;
}

.cardShadow {
  /* border: 2px solid; */
  box-shadow: 4px 4px gray;
}

.cardShadow:hover {
  box-shadow: 12px 12px gray;
}

.aTagStyle {
  color: blue;
  border-bottom: 1px solid blue;
}

.opacity {
  opacity: 0.9;
}

h5,
p {
  display: inline;
}

.card-text {
  padding-left: 0px;
}

.cardSize {
  width: 20%;
}

.vacInfoConImg {
  background-image: url("http://www.localhost:5292/nature-background_1818564.jpg");
  background-size: contain;
  position: absolute;
  width: 75%;
}

.hoverBorder:hover {
  border: 4px solid rgb(172, 165, 173);
  border-radius: 9px;
}
