body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bgImg {
  padding-top: 80px;
  -webkit-box-reflect: left;
  width: 800px;
  height: 700px;
  position: absolute;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.relativePos {
  position: relative;
}

.colorWhite {
  color: white;
}

.shadowCard {
  border: 2px solid;
  box-shadow: 4px 4px gray;
}

.shadowCard:hover {
  box-shadow: 10px 10px gray;
}

.opacity {
  opacity: 0.8;
}

h5,
p {
  display: inline;
}

.card-text {
  padding-left: 0px;
}
